h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
  font-size: 48px;
  text-align: center;
  margin-top: 100px;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 40px;
  text-align: center;
  margin-top: 50px;
}

h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
}

h4 {
  font-family: 'Poppins', sans-serif;
  text-align: left;
  margin-top: 20px;
}

code {
  font-family: courier;
  padding: 0.2em;
  margin: 0;
  background-color: rgba(0,0,0,0.04);
  border-radius: 3px;
  color: #003366;
}

a.anchor {
    display: block;
    position: relative;
    top: -50px;
    visibility: hidden;
}

/* div {
  margin: 100px;
} */

figcaption {
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
}

p {
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  font-size: 16px;
  padding: 0.5em;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

ul {
  list-style-type: circle;
}

li {
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  font-size: 16px;
}

ol {
  list-style-type: circle;
  margin-left: 50px;
}

.middle {
  text-align: center;
}

.sp-1 {
  font-weight: 300;
}

.sp-2 {
  font-weight: 500;
}

.column-left {
  float: left;
}

.column-right {
  float: right;
}
.column-center {
  display: inline-block;
}

.row {
  margin: 0px;
  text-align: center;
}

.dropdown-menu .sub-menu {
  left: 100%;
  position: absolute;
  top: 0;
  visibility: hidden;
  margin-top: -1px;
}

.dropdown-menu li:hover .sub-menu {
  visibility: visible;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.nav-tabs .dropdown-menu,
.nav-pills .dropdown-menu,
.navbar .dropdown-menu {
  margin-top: 0;
}

.navbar .sub-menu:before {
  border-bottom: 7px solid transparent;
  border-left: none;
  border-right: 7px solid rgba(0, 0, 0, 0.2);
  border-top: 7px solid transparent;
  left: -7px;
  top: 10px;
}

.navbar .sub-menu:after {
  border-top: 6px solid transparent;
  border-left: none;
  border-right: 6px solid #fff;
  border-bottom: 6px solid transparent;
  left: 10px;
  top: 11px;
  left: -6px;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.column2 {
  float: left;
  width: 50%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}
