h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
  font-size: 48px;
  text-align: center;
  margin-top: 100px;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 40px;
  text-align: center;
  margin-top: 50px;
}

h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
}

/* div {
  margin: 100px;
} */

p {
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  font-size: 16px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

ul {
  list-style-type: circle;
}

li {
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  font-size: 16px;
}

ol {
  list-style-type: circle;
  margin-left: 50px;
}

.middle {
  text-align: center;
}

.sp-1 {
  font-weight: 300;
}

.sp-2 {
  font-weight: 500;
}

.column-left {
  float: left;
}

.column-right {
  float: right;
}
.column-center {
  display: inline-block;
}

.row {
  margin: 0px;
  text-align: center;
}
